body {
  background-color: black;
}
.error {
  color: red;
}
.loader {
  color: aqua;
}
.cat-info {
  color: rgb(245, 247, 227);
}

.breed-select {
  background-color: rgb(245, 247, 227);
  border-radius: 10px;
  width: 150px;
  padding-left: 5px;
}
