body {
  background-color: black;
}
.error {
  display: none;
  color: red;
}
.loader {
  color: aqua;
}
.cat-info {
  margin-top: 20px;
  margin-left: 10px;
  color: rgb(245, 247, 227);
}

.breed-select {
  display: none;
  background-color: rgb(245, 247, 227);
  border-radius: 10px;
  width: 150px;
  padding-left: 5px;
}
h1 {
  display: block;
  width: 200px;
  margin-left: 0px;
}
.wrap {
  display: block;
}
